html,body{
  height:100%;
  background:$grey-1;
  :global{
    .ant-layout{
      background: $grey-1;
    }
  }
}

.root{
  min-width:1280px;
  height:100%;
  .header{
    padding:12px 24px;
    background:#232B3E;
    :global{
      .logo-img {
        height: 28px;
        width: 128px;
        background: url("../../images/nav_logo.png") no-repeat;
        margin-right:180px;
      }
      .nav-list{
        .nav-item{
          color:#999;
          margin-right:52px;
          font-size: 16px;
          .anticon{
            margin-right:4px;
          }
        }
        .nav-item-active{
          color:$blue-6;
        }
      }
      .exit-btn{
        cursor:pointer;
        color:#999;
        &:hover{
          color:$blue-6;
        }
      }
    }
  }
  .content{
    position: relative;
    flex:1;
    :global {
      .ant-menu-inline {
        border: none;
      }
    }
  }
}

:global{
  .menu-title{
    line-height:42px;
    padding:0 16px;
    padding-left:24px;
  }
  .primary-title {
    font-size: 16px;
  }
  /* 展示块儿样式 */
  .message-block{
    padding:16px 12px;
    margin-bottom: 8px;
    background: #fff;
    .block-title{
      margin-bottom: 8px;
    }
    .title-h2{
      font-size:16px;
      color:#333
    }
  }
  .ant-tabs-bar{
    background: #fff;
    margin-bottom:0;
  }
  .shadow-box{
    box-shadow: 0 0 4px #ccc;
    background:#fff;
    padding:16px;
  }
  .tab-toolbar{
      display: none;
  }
}
