.root {
  display: inline-block;
  vertical-align: top;
  :global {
    .ant-checkbox-group {
      display: inline-block;
    }
    .ant-checkbox-wrapper {
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .vertical {
      display: block;
      .ant-checkbox-wrapper { display: block; }
    }
  }
}