// Name          Common
//
// Description:      页面上公共样类

:global {
  // page 公共类
  // ======================================================
  .#{$ns}page-container {
    position: relative;
    height: 100%;
    min-width: $page-content-min-width;
    overflow: hidden;
    > div {
      height: 100%;
      background-color: $body-bg;
      overflow: auto;
    }
  }

  // 设置页面上的 padding,(框架保留类,不可重复定义此类)
  .#{$ns}main {
    padding: $global-spacer;
  }

  // 左右布局,页面没有数据时展示信息
  // =======================================================
  .area-blank {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    .anticon {
      margin-right: 6px;
      font-size: 14px;
      color: $blue-6;
    }
  }

  // 界面边界类, 用于没有sidebar 时设置界面边界padding
  .boundary-spacer {
    padding: $spacer;
  }

  // 左右布局, 页面上 title
  // =============================================================
  .page-title {
    height: 14px;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 16px;
    font-weight: 500;
  }

  // 红色按钮 - 比如：撤消按钮
  .btn-danger {
    background-color: $red-5;
    border-color:  $red-5;
    color: #fff;
    &:hover {
      background-color: darken($red-5, 15%);
      border-color: darken($red-5, 15%);
    }
  }

  // 带+号的按钮 - 比如：「+创建公式」按钮
  .btn-add {
    .anticon-plus {
      vertical-align: -1px;
    }
  }

  // button like a
  .btn-link {
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: 0;
    font: inherit;
    outline: none;
    outline-offset: 0;
    color: #108ee9;
    cursor: pointer;
    letter-spacing: -2px;
    //text-decoration: underline;
    &:hover,
    &:focus,
    &:active {
      outline: 0;
      color: #108ee9;
      background: none;
    }
  }

  // Table相关
  // =============================================================
  // 表格中隐藏「+」展开图标
  .hide-expand-icon-table {
    .ant-table-row-expand-icon{
      display: none;
    }
  }

  .#{$ns}diy-table {
    &-title {
      > div {
        display: inline-block;
      }
    }
    &-btns {
      display: none;
    }
  }
}
